.resume-card.resume-card-1{"data-index" => "1"}
  / Experience Header Title Starts
  .resume-card-header
    .resume-card-name
      %i.fa.fa-briefcase
      Experience
  / Experience Header Title Ends

  / Experience Content Starts
  .resume-card-body.experience
    .resume-card-body-container.second-font
      / Single Experience Starts
      .resume-content
        %h6.uppercase
          %span Head Of Product & Engineering -
          = link_to 'Pluz Care', 'https://www.pluz.care'
        %span.date
          %i.fa.fa-calendar-o
          2021 - 2022
        %ul.browser-default
          %li IT Development and Management Lead
          %li Principle Developer and Product Manager for Marketplace

      / Single Experience Ends

      / Single Experience Starts
      .resume-content
        %h6.uppercase
          %span Application Manager -
          = link_to 'Wiener Linien', 'https://www.wienerlinien.at'
        %span.date
          %i.fa.fa-calendar-o
          2021 - 2022
        %ul.browser-default
          %li Technical Product Management for Public Transport App with up to 1mio monthly users in Vienna
          %li Stakeholder management between Agile development team, Architects, Support and external partners. Software commissioning and budget controlling over 800k€
          %li Discovery and analysis for topics in UX, API and source data to increase data quality through prototyping and data visualization
          %li Introduction of monitoring solutions and related KPI, increasing situational awareness and visibility of metrics
          %li Trendscout in Corporate Innovation Management

      / Single Experience Ends

      %span.separator

      / Single Experience Starts
      .resume-content
        %h6.uppercase
          %span Software Developer/Project Manager -
          = link_to 'MODOMOTO', 'https://www.modomoto.de'
        %span.date
          %i.fa.fa-calendar-o
          2018 - 2019
        %ul.browser-default
          %li Project Manager for introducing the CRM solution CrossEngage in Marketing, Sales and Customer Service, including setting roadmap and OKR
          %li Product Manager for internal tools in Operations, Logistics, Customer Service and Marketing, and for customer software in supporting the Offboarding-customer journey for MODOMOTO
          %li Scrum Master running Grooming and Sprint planning of Development team
          %li Tech Lead for planning and implementation of data migrations for payment and logistics data, and integration of technical processes in company mergers

      / Single Experience Ends

      %span.separator

      / Single Experience Starts
      .resume-content
        %h6.uppercase
          %span Senior Software Developer -
          = link_to 'MODOMOTO', 'https://www.modomoto.de'
        %span.date
          %i.fa.fa-calendar-o
          2013 - 2018
        %ul.browser-default
          %li Concept and implementation of applications supporting internal and customer facing workflows using Ruby-on-Rails.
      / Single Experience Ends


      %span.separator

      / Single Experience Starts
      .resume-content
        %h6.uppercase
          %span Web Developer -
          Dailyme
        %span.date
          %i.fa.fa-calendar-o
          2010 - 2013
        %ul.browser-default
          %li Building web applications for a mobile video service.
      / Single Experience Ends

      %span.separator

      / Single Experience Starts
      .resume-content
        %h6.uppercase
          %span Outside of Work
        %span.date
          %i.fa.fa-calendar-o
          2010 - today
        %ul.browser-default
          %li
            Volunteer work for political organisations and
            = link_to 'Code Curious', 'https://www.codecurious.org'
          %li
            Music writing, production and release as
            = link_to 'Dahie', 'http://www.dahie.rocks'
          %li
            Product Management and Design for Simracing Game addons with
            = link_to 'Cars & Tracks Development Project', 'http://www.ctdp.net'
          %li
            Management and Design for Virtual Motorsports Team
            = link_to 'RaceCar', 'http://www.team-racecar.org'
          %li= "Open source work on projects #{link_to 'caramelize', 'https://github.com/dahie/caramelize'}, #{link_to 'everchords', 'https://everchords.herokuapp.com'}, #{link_to 'ImageFlow', 'https://github.com/dahie/imageflow'} and #{link_to 'DDSUtils', 'https://github.com/dahie/imageflow'}."
      / Single Experience Ends

  / Experience Content Starts
